<!doctype html>
<html ng-app="app">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<script type="text/javascript" src="/static/app.js"></script>
		<link href="/static/styles.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-resource.min.js"></script>
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
	</head>
	<body>
		<div class="row" id="division">
		    <form ng-controller="DataController">
			    <div data-ng-include="'header'"></div>
				<h1 align="center"> Student Specific data</h1>
				<h3 align="center"> {{id}} {{name}}</h3>
				<p ng-if="courses1.length!=0"> Total credits: <strong> {{totalCredits}}  </strong></p>
				<p ng-if="courses1.length!=0"> Credits passed: <strong> {{totalCreditsPassed}} </strong></p>
				<p ng-if="courses1.length!=0"> GPA: <strong> {{totalGPA}} </strong></p>
				<hr/>
				<button class="btn btn-default" ng-click="courseCollapse = !courseCollapse">Add Course</button>
				<hr>
				<div align = "center" collapse="courseCollapse">
					<div>
						<hr/>
						<input required class="span3" type="text" ng-model="course" size="10" placeholder="Enter course">
						<input required class="span2" type="text" ng-model="credits" size="10" placeholder="Enter credits">
						<select class="span2" required ng-model="grade" ng-change="Grade(grade)" ng-options="grade for grade in grades">
							<option class="" value=""></option>
						</select>
						<select class="span3" required ng-model="college" ng-change="College(college)" ng-options="college for college in colleges">
							<option class="" value=""></option>
						</select>
						<select class="span1" required ng-model="year" ng-change="Year(year)" ng-options="year for year in years">
							<option class="" value=""></option>
						</select>
						<input type="image" ng-click="addRecord(course,credits,grade,college,year)" src="/static/plus.jpeg" width="30" height="30" title="Add student record"/>
						<hr/>
					</div>
				</div>
				<hr/>
				<button class="btn btn-default" ng-click="isCollapsed1 = !isCollapsed1">Year 1</button>
				<hr>
				<div align = "center" collapse="isCollapsed1">
					<div>
						<table>
							<thead>
								<tr>
									<th ng-if="courses1.length!=0" >Course</th> 
									<th ng-if="courses1.length!=0" >Credits</th> 
									<th ng-if="courses1.length!=0" >Grade</th> 
									<th ng-if="courses1.length!=0" >College</th>  
							   </tr>
							</thead>
							<tbody>
								<tr ng-repeat="course in courses1">
									<p><td><input ng-if="courses1.length!=0" class="span3" type="text" ng-model="course.course" size="10" readonly></td></p>
									<p><td><input ng-if="courses1.length!=0" class="span3" type="text" ng-model="course.credits" size="10" readonly></td></p>
									<p><td><input ng-if="courses1.length!=0" class="span3" type="text" ng-model="course.grade" size="10" readonly></td></p>
									<p><td><input ng-if="courses1.length!=0" class="span3" type="text" ng-model="course.department" size="10" readonly></td></p>
									<p><td><input type="image" ng-click="deleteRecord(course)" src="/static/minus.jpg" width="25" height="25" title="Delete me"/></td></p>
								</tr>
							</tbody>
						</table>
						<h3 ng-if="courses1.length==0" type="text">No courses for year 1</h3>
						<p ng-if="courses1.length!=0"> Credits taken: <strong> {{taken1}} </strong>
						<img ng-if="courses1.length!=0 && passed1 >= 120" src="/static/tick.png" width="17" height="17" title="Credits passed are over or equal to 120"></i>
						<img ng-if="courses1.length!=0 && passed1 < 120" src="/static/x.jpeg" width="17" height="17" title="Not enough credits. A minimum of 120 is required."></i></p>
						<p ng-if="courses1.length!=0"> Credits passed: <strong> {{passed1}}  </strong></p>
						<p ng-if="courses1.length!=0"> Average GPA: <strong> {{GPA1}} </strong></p>
					</div> 
				</div>
				<hr/>
				<button class="btn btn-default" ng-click="isCollapsed2 = !isCollapsed2">Year 2</button>
				<hr>
				<div align = "center" collapse="isCollapsed2">
					<div>
						<table>
							<thead>
								<tr>
									<th ng-if="courses2.length!=0" >Course</th> 
									<th ng-if="courses2.length!=0" >Credits</th> 
									<th ng-if="courses2.length!=0" >Grade</th> 
									<th ng-if="courses2.length!=0" >College</th>  
							   </tr>
							</thead>
							<tbody>
								<tr ng-repeat="course in courses2">
									<p><td><input ng-if="courses2.length!=0" class="span3" type="text" ng-model="course.course" size="10" readonly></td></p>
									<p><td><input ng-if="courses2.length!=0" class="span3" type="text" ng-model="course.credits" size="10" readonly></td></p>
									<p><td><input ng-if="courses2.length!=0" class="span3" type="text" ng-model="course.grade" size="10" readonly></td></p>
									<p><td><input ng-if="courses2.length!=0" class="span3" type="text" ng-model="course.department" size="10" readonly></td></p>
									<p><td><input type="image" ng-click="deleteRecord(course)" src="/static/minus.jpg" width="25" height="25" title="Delete me"/></td></p>
								</tr>
							</tbody>
						</table>
						<h3 ng-if="courses2.length==0" type="text">No courses for year 2</h3>
						<p ng-if="courses2.length!=0"> Credits taken: <strong> {{taken2}} </strong>
						<img ng-if="courses2.length!=0 && passed2 >= 120" src="/static/tick.png" width="17" height="17" title="Credits passed are over or equal to 120"></i>
						<img ng-if="courses2.length!=0 && passed2 < 120" src="/static/x.jpeg" width="17" height="17" title="Not enough credits. A minimum of 120 is required."></i></p>
						<p ng-if="courses2.length!=0"> Credits passed: <strong> {{passed2}}  </strong></p>
						<p ng-if="courses2.length!=0"> Average GPA: <strong> {{GPA2}} </strong></p>
					</div> 
				</div>
				<hr/>
				<button class="btn btn-default" ng-click="isCollapsed3 = !isCollapsed3">Year 3</button>
				<hr>
				<div align = "center" collapse="isCollapsed3">
					<div>
						<table>
							<thead>
								<tr>
									<th ng-if="courses3.length!=0" >Course</th> 
									<th ng-if="courses3.length!=0" >Credits</th> 
									<th ng-if="courses3.length!=0" >Grade</th> 
									<th ng-if="courses3.length!=0" >College</th>  
							   </tr>
							</thead>
							<tbody>
								<tr ng-repeat="course in courses3">
									<p><td><input ng-if="courses3.length!=0" class="span3" type="text" ng-model="course.course" size="10" readonly></td></p>
									<p><td><input ng-if="courses3.length!=0" class="span3" type="text" ng-model="course.credits" size="10" readonly></td></p>
									<p><td><input ng-if="courses3.length!=0" class="span3" type="text" ng-model="course.grade" size="10" readonly></td></p>
									<p><td><input ng-if="courses3.length!=0" class="span3" type="text" ng-model="course.department" size="10" readonly></td></p>
									<p><td><input type="image" ng-click="deleteRecord(course)" src="/static/minus.jpg" width="25" height="25" title="Delete me"/></td></p>
								</tr>
							</tbody>
						</table>
						<h3 ng-if="courses3.length==0" type="text">No courses for year 3</h3>
						<p ng-if="courses3.length!=0"> Credits taken: <strong> {{taken3}} </strong>
						<img ng-if="courses3.length!=0 && passed3 >= 120" src="/static/tick.png" width="17" height="17" title="Credits passed are over or equal to 120"></i>
						<img ng-if="courses3.length!=0 && passed3 < 120" src="/static/x.jpeg" width="17" height="17" title="Not enough credits. A minimum of 120 is required."></i></p>
						<p ng-if="courses3.length!=0"> Credits passed: <strong> {{passed3}}  </strong></p>
						<p ng-if="courses3.length!=0"> Average GPA: <strong> {{GPA3}} </strong></p>
					</div>
				</div>
				<hr/>
				<button class="btn btn-default" ng-click="isCollapsed4 = !isCollapsed4">Year 4</button>
				<hr>
				<div align = "center" collapse="isCollapsed4">
					<div>
						<table>
							<thead>
								<tr>
									<th ng-if="courses4.length!=0" >Course</th> 
									<th ng-if="courses4.length!=0" >Credits</th> 
									<th ng-if="courses4.length!=0" >Grade</th> 
									<th ng-if="courses4.length!=0" >College</th>  
							   </tr>
							</thead>
							<tbody>
								<tr ng-repeat="course in courses4">
									<p><td><input ng-if="courses4.length!=0" class="span3" type="text" ng-model="course.course" size="10" readonly></td></p>
									<p><td><input ng-if="courses4.length!=0" class="span3" type="text" ng-model="course.credits" size="10" readonly></td></p>
									<p><td><input ng-if="courses4.length!=0" class="span3" type="text" ng-model="course.grade" size="10" readonly></td></p>
									<p><td><input ng-if="courses4.length!=0" class="span3" type="text" ng-model="course.department" size="10" readonly></td></p>
									<p><td><input type="image" ng-click="deleteRecord(course)" src="/static/minus.jpg" width="25" height="25" title="Delete me"/></td></p>
								</tr>
							</tbody>
						</table>
						<h3 ng-if="courses4.length==0" type="text">No courses for year 4</h3>
						<p ng-if="courses4.length!=0"> Credits taken: <strong> {{taken4}} </strong>
						<img ng-if="courses4.length!=0 && passed4 >= 120" src="/static/tick.png" width="17" height="17" title="Credits passed are over or equal to 120"></i>
						<img ng-if="courses4.length!=0 && passed4 < 120" src="/static/x.jpeg" width="17" height="17" title="Not enough credits. A minimum of 120 is required."></i></p>
						<p ng-if="courses4.length!=0"> Credits passed: <strong> {{passed4}}  </strong></p>
						<p ng-if="courses4.length!=0"> Average GPA: <strong> {{GPA4}} </strong></p>
					</div> 
				</div>
		    </form>      
	    </div>
	</body>
</html>